<!DOCTYPE html>
<html>
<head>
  <title>ContactBooker</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= link_to "Home", root_url %> | 
<%= link_to "Add Contact", new_contact_url %> | 
<%= link_to "Download Contacts", download_csv_url(format: :csv) %>
<%= yield %>

</body>
</html>
